<button title="{{'validate' | translate}}" [disabled]="busy" [hidden]="!isValidationButtonVisible"
  (click)="cancelEvent($event); validate()" class="btn btn-sm expand btn-secondary brighter-secondary-outline">
  <span *ngIf="!busy" class="fa-stack" style="font-size: 0.5em">
    <i class="fa fa-file-o fa-stack-2x fa-lg" aria-hidden="true"></i>
    <i class="fa fa-check fa-stack-1x" style="font-size: 1.25em" aria-hidden="true"></i>
  </span>
  <i *ngIf="busy" class="fa fa-circle-o-notch fa-spin"></i>
  <span *ngIf="textEnabled">&nbsp;{{'validate' | translate}}</span>
</button>
