<div class="left-sidebar">
    <div id="sticky-header-wrapper">
        <ul role="tablist" class="nav nav-tabs justify-content-start" id="explorer">
            <li *ngIf="config?.enableProjectExplorer === 'true'" class="nav-item">
                <button attr.aria-label="{{'project'| translate}}" [ngClass]="{'active' : currentActiveTab === ActiveTab.project}" role="tab"
                    (click)="switchToProject()" class="nav-link" title="{{'project' | translate}}" id="ngb-tab-0" aria-disabled="false"
                    [attr.aria-expanded]="currentActiveTab === ActiveTab.project ? 'true' : 'false'"
                    [attr.aria-controls]="currentActiveTab === ActiveTab.project ? 'ngb-tab-0-panel' : null">{{'project'
                    | translate}}</button>
            </li>
            <li class="nav-item">
                <button attr.aria-label="{{'library' | translate}}" [ngClass]="{'active' : currentActiveTab === ActiveTab.library}" role="tab"
                    (click)="switchToLibrary()" class="nav-link" title="{{'library' | translate}}" id="ngb-tab-1" aria-disabled="false"
                    [attr.aria-expanded]="currentActiveTab === ActiveTab.library ? 'true' : 'false'"
                    [attr.aria-controls]="currentActiveTab === ActiveTab.library ? 'ngb-tab-1-panel' : null">{{'library'
                    | translate}}
                </button>
            </li>
            <li class="nav-item">
                <button attr.aria-label="{{'recycleBin' | translate}}" [ngClass]="{'active' : currentActiveTab === ActiveTab.recycleBin}" role="tab"
                    (click)="switchToRecycleBin()" class="nav-link" title="{{'recycleBin' | translate}}" id="ngb-tab-1" aria-disabled="false"
                    [attr.aria-expanded]="currentActiveTab === ActiveTab.recycleBin ? 'true' : 'false'"
                    [attr.aria-controls]="currentActiveTab === ActiveTab.recycleBin ? 'ngb-tab-1-panel' : null">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </div>
    <div id="list-wrapper">
        <ul id="projectList" class="explorer-list" *ngIf="currentActiveTab === ActiveTab.project">
            <element-tree *ngFor="let element of rootElements;" [baseUrl]="element.url"
                [currentElement]="currentElement" [withExpand]="true"></element-tree>
            <li *ngIf="canLoadMoreProjectFolders">
                <button attr.aria-label="{{'loadMore' | translate}}" (click)="loadMoreProjectFolders()" class="btn btn-sm btn-outline-primary btn-sm">
                    <i class="fa fa-ellipsis-v"></i>&nbsp;{{'loadMore' | translate}}
                </button>
            </li>
        </ul>
        <ul id="libraryList" class="explorer-list" *ngIf="currentActiveTab === ActiveTab.library">
            <element-tree *ngFor="let element of rootLibraries;" [baseUrl]="element.url"
                [currentElement]="currentElement" [withExpand]="true" [library]="true"></element-tree>
            <li *ngIf="canLoadMoreLibraryFolders">
                <button attr.aria-label="{{'loadMore' | translate}}" (click)="loadMoreLibraryFolders()" class="btn btn-sm btn-outline-primary btn-sm">
                    <i class="fa fa-ellipsis-v"></i>&nbsp;{{'loadMore' | translate}}
                </button>
            </li>
        </ul>
        <ul id="recycleBinListProject" class="explorer-list" *ngIf="currentActiveTab === ActiveTab.recycleBin">
            <element-tree *ngFor="let element of rootRecycleBinProject;" [baseUrl]="element.url"
                [currentElement]="currentElement" [withExpand]="true" [recycleBin]="true"></element-tree>
            <li *ngIf="canLoadMoreRecycleBinFoldersProject">
                <button attr.aria-label="{{'loadMore' | translate}}" (click)="loadMoreRecycleBinProjectFolders()" class="btn btn-sm btn-outline-primary btn-sm">
                    <i class="fa fa-ellipsis-v"></i>&nbsp;{{'loadMore' | translate}}
                </button>
            </li>
        </ul>
        <ul id="recycleBinListLibrary" class="explorer-list" *ngIf="currentActiveTab === ActiveTab.recycleBin">
            <element-tree *ngFor="let element of rootRecycleBinLibrary;" [baseUrl]="element.url"
                [currentElement]="currentElement" [withExpand]="true" [library]="true" [recycleBin]="true">
            </element-tree>
            <li *ngIf="canLoadMoreRecycleBinFoldersLibrary">
                <button attr.aria-label="{{'loadMore' | translate}}" (click)="loadMoreRecycleBinLibraryFolders()" class="btn btn-sm btn-outline-primary btn-sm">
                    <i class="fa fa-ellipsis-v"></i>&nbsp;{{'loadMore' | translate}}
                </button>
            </li>
        </ul>
        <ul *ngIf="currentActiveTab === ActiveTab.recycleBin && recycleBinIsEmpty">
            <span class="text-muted">{{'recycleBinIsEmpty' | translate}}.</span>
        </ul>
    </div>
</div>
