ul {
    padding: 0 0 0 10px;
    width: 100%;
    height: 100%;
}

.nav.nav-tabs.justify-content-start {
    padding: 0 0 0 0;
    height: auto;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

#projectList {
    padding: 0 0 0 0;
    margin-bottom: 0;
    padding-top: 3px;
}

#libraryList {
    padding: 0 0 0 0;
    margin-bottom: 0;
    padding-top: 3px;
}

.left-sidebar {
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: inline-flex;
    flex: 1 1 0%;
    flex-direction: column;
}

#list-wrapper {
    overflow: scroll;
}