<nav class="navbar navbar-toggleable-md navbar-dark bg-dark padding-left-right">
    <div class="left-controls">
        <a id="commoncontrol-specmate-button" title="{{'restart' | translate}}" class="navbar-brand" href="/index.html">
            <img src="../../../../../../assets/img/specmate_logo_horizontal_small.png" height="30"
                class="d-inline-block align-top" alt="{{'specmate.logo' | translate}}">
        </a>
        <div class="mr-auto">
            <common-controls></common-controls>
        </div>
        <div class="mr-auto">
            <browser-version-checker></browser-version-checker>
        </div>
    </div>
    <div class="right-controls">
        <span class="navbar-text" style="display: flex">
            <span  *ngIf="showVersion" class="version-text">{{'version' | translate}}:&nbsp;{{version}}&nbsp;</span>
            <item-search-bar *ngIf="showSearchBar"></item-search-bar>&nbsp;
            <choose-project *ngIf="showProjectChooser"></choose-project>&nbsp;
            <operation-monitor *ngIf="showOperationMonitor"></operation-monitor>&nbsp;
            <language-chooser *ngIf="showLanguageChooser" class="brighter-secondary-outline"></language-chooser>&nbsp;
            <documentation-export-button *ngIf="showDocumentationButton"></documentation-export-button>&nbsp;
            <logout *ngIf="showLogout"></logout>
        </span>
    </div>
</nav>
