<div *ngIf="contents" class="card maximized">
    <h5 class="card-header">{{name}}
        <div class="pull-right">
            <!-- ZOOM -->
            <button id="editor-zoomout-button" (click)="zoomOut(); editorGridButton.zoomOut()"
                class="btn btn-sm btn-secondary pull-left" [class.disabled]="!canZoomOut"
                title="{{'zoomOut' | translate}}"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
            <button (click)="resetZoom(); editorGridButton.resetZoom()"
                class="btn btn-sm btn-secondary pull-left zoom-indicator"
                title="{{'restoreZoom' | translate}}">{{editorGridButton.zoomFactor * 100 | number: '1.0-0'}}%</button>
            <button id="editor-zoomin-button" (click)="zoomIn(); editorGridButton.zoomIn()"
                class="btn btn-sm btn-secondary pull-left" [class.disabled]="!canZoomIn"
                title="{{'zoomIn' | translate}}"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
            <!-- GRID -->
            <editor-grid-button #editorGridButton></editor-grid-button>
            <maximize-button></maximize-button>
        </div>
    </h5>
    <div class="card-body" style="overflow: auto;">
        <tool-pallette></tool-pallette>
        <div #mxGraphToolbar id="mxGraphToolbar"></div>
        <hr>
        <div class="editor-body" style="width: 100%; height: 90%; position: relative;">
            <div #mxGraphContainer id="mxGraphContainer" [ngClass]="{'editor-container': true}"
                class="editor-container">
                <div id="editor-grid" class="editor-grid" [hidden]="!editorGridButton.isGridShown"
                    [ngStyle]="{'background': 'url(/assets/img/grid.png)', 'background-size': editorGridButton.getBackgroundSize()}">
                </div>
            </div>
        </div>

    </div>
