<ng-template #rt let-r="result" let-t="term">
    <icon-selector [model]="r" [expanded]="false"></icon-selector>&nbsp;
    <ng-container *ngIf="r.extId !== undefined">
        <span class="badge badge-primary">{{r.extId}}</span>
        &nbsp;
    </ng-container>
    <ngb-highlight [result]="resultTitle(r)" [term]="t"></ngb-highlight><br />
    <small>
        {{parentNames(r)}}
    </small>
</ng-template>

<div class="input-group input-group-sm">
    <div class="input-group-prepend">
        <div class="input-group-text"><span class="fa fa-search adjusted-height-input-group-prepend"></span></div>
    </div>
    <input id="item-search-bar-input" type="text" class="form-control form-control-sm" placeholder="{{'search' | translate}}"
        [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" [(ngModel)]="selectedElement"
        [editable]="false" />
</div>
