<ngb-alert *ngIf="isLoginFailed" [dismissible]="false" class="text-center">
    {{'loginFailed' | translate}}
</ngb-alert>
<ngb-alert *ngIf="isInactivityLoggedOut" [dismissible]="false" class="text-center">
    {{'inactivityLoggedOut' | translate}}
</ngb-alert>
<ngb-alert *ngIf="isErrorLoggedOut" [dismissible]="false" class="text-center">
    {{'errorLoggedOut' | translate}}
</ngb-alert>
<div class="row">
    <div style="width: auto;">
        <h1 class="card-title text-center mb-4 mt-1">{{'login' | translate}}</h1>
        <hr />
        <div *ngIf="!isSSOEnabled" class="form-group padding-bottom">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <em class="fa fa-user adjusted-height-input-group-prepend"></em>
                    </span>
                </div>
                <input attr.aria-label="{{'username' | translate}}" [(ngModel)]="username" id="login-username-textfield" name="" class="form-control form-control-sm"
                    placeholder="{{'username' | translate}}" type="text">
            </div>
        </div>
        <div *ngIf="!isSSOEnabled" class="form-group padding-bottom">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <em class="fa fa-lock adjusted-height-input-group-prepend"></em>
                    </span>
                </div>
                <input attr.aria-label="{{'password' | translate}}" [(ngModel)]="password" id="login-password-textfield" class="form-control form-control-sm"
                    placeholder="{{'password' | translate}}" type="password">
            </div>
        </div>
        <div *ngIf="isSSOEnabled" class="form-group padding-bottom">
            <div class="input-group input-group-sm">
                <button *ngIf="!isSSOAuthenticated" class="btn btn-sm btn-outline-primary" attr.aria-label="{{'sso-login' | translate}}" id="sso-login-button" title="{{'sso-login' | translate}}" (click)="ssoLogin()">
                    <em class="fa fa-sign-in"></em>&nbsp;{{'sso-login' | translate}}
                </button>
            </div>
        </div>
        <div class="form-group padding-bottom">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <em class="fa fa-briefcase adjusted-height-input-group-prepend"></em>
                    </span>
                </div>
                <div ngbDropdown class="d-inline-block input-group-append" #projectDropdown>
                    <button attr.aria-label="{{'chooseProject' | translate}}" class="btn btn-sm btn-outline-primary" id="login-project-dropdown" ngbDropdownToggle title="{{'chooseProject' | translate}}">
                        {{project ? project : ('project' | translate)}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="projectDropdown">
                        <button attr.aria-label="{{name}}" *ngFor="let name of projectnames" id="project-{{name}}" class="dropdown-item"
                            (click)="project = name">{{name}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group padding-bottom">
            <button attr.aria-label="{{'login' | translate}}" id="login-button" title="{{'login' | translate}}"
                [ngClass]="{'disabled': !canLogin || isAuthenticating, 'waiting': isAuthenticating, 'not-allowed': !canLogin, 'btn-outline-primary': !canLogin, 'btn-primary': canLogin}"
                (click)="authenticate()" class="btn btn-sm">
                <ng-container *ngIf="isAuthenticating">
                    <em class="fa fa-circle-o-notch fa-spin"></em>
                </ng-container>
                <ng-container *ngIf="!isAuthenticating">
                    <em class="fa fa-sign-in"></em>&nbsp;{{'login' | translate}}
                </ng-container>
            </button>
            <span id="login-language-dropdown" class="pull-right">
                <language-chooser></language-chooser>
            </span>
        </div>
        <div *ngIf="isSSOEnabled" class="form-group padding-bottom">
            <div class="input-group input-group-sm">
                <button *ngIf="isSSOAuthenticated" class="btn btn-sm btn-outline-primary" attr.aria-label="{{'sso-logoff' | translate}}" id="sso-logoff-button" title="{{'sso-logoff' | translate}}" (click)="ssoLogout()">
                    <em class="fa fa-sign-out"></em>&nbsp;{{'sso-logoff' | translate}}&nbsp;({{ssoUserData['name']}})
                </button>
            </div>
        </div>
    </div>
</div>
