<div *ngIf="selectedElement" class="card">
    <ul class="list-group">
        <li>
            <h5 class="card-header">
                {{'Properties' | translate}}
                <button id="properties-expand-button" type="button" class="btn btn-sm btn-secondary pull-right"
                    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseExample"
                    title="{{ isCollapsed ? ('expand' | translate) : ('collapse' | translate) }}">
                    <em *ngIf="isCollapsed" class="fa fa-angle-double-down"></em>
                    <em *ngIf="!isCollapsed" class="fa fa-angle-double-up"></em>
                </button>
            </h5>
        </li>
        <li *ngIf="!hasLinkedNode">
            <generic-form [ngbCollapse]="isCollapsed" [element]="selectedElement" [hiddenFields]="hiddenFields">
            </generic-form>
        </li>
        <ng-container *ngIf="hasLinkingModels">
            <li>
                <h6 class="card-header">
                    {{'LinkingModels' | translate}}
                </h6>
            </li>
            <li class="list-group-item">
                <ul class="linking-model-list">
                    <li *ngFor="let linkingModel of linkingModels" class="linking-model-item">
                        <a [navigationTarget]="linkingModel">
                            <icon-selector [model]="linkingModel"></icon-selector>&nbsp;{{linkingModel.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ng-container>
        <li *ngIf="showLinkingButton || hasLinkedNode">
            <h6 class="card-header">
                {{'LinkedNodeInModel' | translate}}
            </h6>
        </li>
        <li class="list-group-item" *ngIf="hasLinkedNode">
            <a [navigationTarget]="linkedModel">
                <icon-selector [model]="linkedModel"></icon-selector>&nbsp;{{linkedModel.name}}
            </a>
        </li>
        <li class="list-group-item" *ngIf="showLinkingButton">
            <link-model-button [element]="selectedElement"></link-model-button>
        </li>
    </ul>
</div>
<div *ngIf="!selectedElement" class="card">
    <div class="card-body">
        <p class="card-text">{{'noOrMultipleElementSelected' | translate}}.</p>
    </div>
</div>
